---
layout: default
---

<article class="page">

  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
</article>
{{ if page.title == About }}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "email": "mailto:mehdi61b@gmail.com",
      "image": "{{ site.avatar }}",
      "jobTitle": "Software Developer",
      "name": "Mahdi Abdinejadi",
      "url": "http://techblog.feleziran.ir"
    }
    </script>
{{ endif }}